In [69]:
import pandas as pd
import json
adj_df = pd.read_csv('grouped_movies_to_actors.csv')[['tconst', 'nconst']]

In [70]:
adj_df

          tconst                                             nconst
0      tt0061432                         ['nm0396998', 'nm0398193']
1      tt0062847                                      ['nm0936259']
2      tt0062870                                      ['nm0001428']
3      tt0062936  ['nm0398969', 'nm0001866', 'nm1787710', 'nm016...
4      tt0062980  ['nm0820577', 'nm0281078', 'nm0715857', 'nm056...
...          ...                                                ...
18686  tt9906644            ['nm2068971', 'nm7243877', 'nm1428724']
18687  tt9907782                         ['nm2933542', 'nm0677944']
18688  tt9911006            ['nm9588822', 'nm1675134', 'nm3617629']
18689  tt9914942                                     ['nm10823679']
18690  tt9916730  ['nm6096005', 'nm0059461', 'nm13233318', 'nm48...

[18691 rows x 2 columns]

In [71]:
import numpy as np
thing = np.array([])
relations = []
for iter, row in adj_df.iterrows():
    inter = eval(row['nconst'])
    list = np.array(inter)
    thing = np.append(thing, list)
    relations.append(inter)

In [41]:
actors = np.unique(thing)
mapping = {k: v for v, k in enumerate(actors)}

In [78]:
N = len(mapping)
import scipy
A = scipy.sparse.lil_matrix((N, N), dtype=np.uint8)

In [75]:
from tqdm import tqdm
import itertools
counter = 0
for item in tqdm(relations):
    print(item)
    if len(item) < 2:
        continue
    counter += 1
    if len(item) == 2:
        memes = [item]
    else:
        memes = list(itertools.combinations(item, 2))
    # for item in memes:
    #     p1 = item[0]
    #     p2 = item[1]
    #     A[p1, p2] = True

  0%|          | 3/18691 [00:00<00:01, 18342.44it/s]

['nm0396998', 'nm0398193']
['nm0936259']
['nm0001428']
['nm0398969', 'nm0001866', 'nm1787710', 'nm0160715']

TypeError: 'numpy.ndarray' object is not callable

In [79]:
A = A.tocsr()
# Matrix Size
print((A.data.nbytes + A.indptr.nbytes + A.indices.nbytes) / 1e+6, "MB used")

38.680663 MB used

In [80]:
from scipy import sparse
sparse.save_npz("adjacency_matrix.npz", A)