In [1]:
import pandas as pd
name_df = pd.read_csv('name.basics.tsv', sep='\t')

In [2]:
principals_df = pd.read_csv('title.principals.tsv', sep='\t')

In [3]:
principals_df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [4]:
name_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0075213,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0056404,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0050986,tt0083922,tt0050976"

In [5]:
# name_df[name_df['primaryName'] == 'Amitabh Bachchan']
amitabh_nconst = 'nm0000821'

In [6]:
actors_df = name_df.loc[name_df['primaryProfession'].str.contains('actor', na=False)]
actors_df.to_csv("actors.csv", index=False)

In [7]:
amitabh_movies = principals_df[(principals_df['nconst'] == amitabh_nconst) & (principals_df['category'] != "self") & (principals_df['job'] != "actor")]

In [8]:
amitabh_movies
amitabh_movies.to_csv("amitabh_movies.csv", index=False)