In [7]:
import pandas as pd
amitabh_df = pd.read_csv("amitabh_movies.csv")
actors_df = pd.read_csv("actors.csv")
principals_df = pd.read_csv('title.principals.tsv', sep='\t')

In [8]:
amitabh_consts = amitabh_df['tconst'].unique()
amitabh_nconst = 'nm0000821'

In [14]:
interim = []
principals_df[(principals_df['tconst'] == "tt0066763") & (principals_df['category'] == 'actor')]

,tconst,ordering,nconst,category,job,characters
562289,tt0066763,1,nm0004435,actor,\N,"[""Anand Saigal""]"
562290,tt0066763,2,nm0000821,actor,\N,"[""Dr. Bhaskar K. Bannerjee"",""Babu Moshai""]"
562292,tt0066763,4,nm0219946,actor,\N,"[""Dr. Prakash Kulkarni""]"